<h1>Insert</h1>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="">
    <br>
    <br>
    <label for="marca">Marca</label>
    <input type="text" id="marca" name="marca" placeholder="">
    <br>
    <br>
    <label for="categoria">Categoria</label>
    <input type="text" id="categoria" name="categoria" placeholder="">
    <br>
    <br>
    <label for="precio">Precio</label>
    <input type="text" id="precio" name="precio" placeholder="">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
<a href="/productos"><button type="button" name="button" class="btn btn-primary">Cancelar</button></a>
